.prompt {
  color: #33ff33;
}

.blinking-cursor {
  width: 10px;
  height: 20px;
  background-color: #33ff33;
  display: inline-block;
  animation: blink 1s step-start infinite;
  margin-left: 5px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
