<div style="margin-top: 25px;">
  <p-panel class="resume-panel" [toggleable]="false" [collapsed]="false" styleClass="resume-container">
    <ng-template pTemplate="icons">
      <button pButton (click)="exportToPdf()"
        [pTooltip]="'Toggle Light/Dark Mode to Customize Resume Style Before Downloading.'" [disabled]="downloading">
        Download Resume <i class="pi pi-spin pi-spinner" *ngIf="downloading"></i>
      </button>
    </ng-template>

    <div #contentToConvert>
      <div class="pdf-wrapper" [style.background-color]="isDarkMode ? '#121212' : '#fff'">

        <!-- Opening tag -->
        <div class="header" style="width: 100%; display: flex; justify-content: space-between;">
          <div class="cv-tag">
            <h1>&lt;cv&gt;</h1>
          </div>
          <div>
            <img [src]="(isDarkMode ? 'qr-code-dark.png' : 'qr-code-light.png')" alt="QR Code" class="pdf-export-qr"
              [ngStyle]="{ display: downloading ? '' : 'none' }" />
          </div>
        </div>

        <div class="code-indent">
          <h1 class="name">{{ name }}</h1>
          <h3 class="title">{{ title }}</h3>

          <section class="section summary">
            <h4 class="section-title">/summary</h4>
            <p>{{ summary1 }}</p>
            <p>{{ summary2 }}</p>
          </section>

          <section class="section work-experience">
            <h4 class="section-title">/work experience</h4>
            <div class="job" *ngFor="let job of jobs">
              <div class="job-header">
                <span class="job-title">{{ job.jobTitle }}</span><br>
                <span class="job-dates">{{ job.jobDates }}</span>
              </div>
              <p>{{ job.jobDescription }}</p>
            </div>
          </section>

          <section class="section skills">
            <h4 class="section-title">/skills</h4>
            <div *ngFor="let skill of skillsMap | keyvalue">
              <p class="skills-map"><strong>{{ skill.key }}</strong> {{ skill.value }}</p>
            </div>
          </section>

          <section class="section education">
            <h4 class="section-title">/education</h4>
            <p><b>{{ education.school }}</b> - {{ education.degree }}</p>
          </section>
        </div>

        <!-- Closing tag -->
        <div class="header">
          <div class="cv-tag">
            <h1>&lt;/cv&gt;</h1>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
</div>