<div>
  <button (click)="exportToPdf()">Export to PDF</button>
</div>
<p-panel class="resume-panel" [toggleable]="false" [collapsed]="false" styleClass="resume-container" #contentToConvert>
  <div class="header">
    <div class="cv-tag"><h1>&lt;cv&gt;</h1></div>
  </div>
  <div>
    <h1 class="name">{{ name }}</h1>
    <br>
    <h3 class="title">{{ title }}</h3>
  </div>

  <section class="section summary">
    <h4 class="section-title">/summary</h4>
    <p>
      {{ summary1 }}
    </p>
    <p>
      {{ summary2 }}
    </p>
  </section>

  <section class="section work-experience">
    <h4 class="section-title">/work experience</h4>
    <div class="job" *ngFor="let job of jobs">
      <div class="job-header">
        <span class="job-title">{{ job.jobTitle }}</span>
        <br>
        <span class="job-dates">{{ job.jobDates }}</span>
      </div>
      <p>
        {{ job.jobDescription }}
      </p>
    </div>
  </section>

  <section class="section skills">
    <h4 class="section-title">/skills</h4>
    <div *ngFor="let skill of skillsMap | keyvalue">
      <p><strong>{{skill.key}}</strong> {{ skill.value }}</p>
      <br/>
    </div>
  </section>

  <section class="section education">
    <h4 class="section-title">/education</h4>
    <p> {{ education }}</p>
  </section>
  <div class="header">
    <div class="cv-tag"><h1>&lt;/cv&gt;</h1></div>
  </div>
</p-panel>
