/* Shared layout */
.resume-container {
  margin: 2rem auto;
  background-color: var(--panel-bg);
  color: var(--text);
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .resume-container {
    padding-bottom: 20px;
  }
}

/* Typography */
.cv-tag {
  font-weight: 900;
  font-size: 1.6rem;
  color: var(--accent);
  display: inline-block;
}

.section {
  margin-top: 15px;
}

.pdf-export-qr {
  width: 100px;
  height: 100px;
  float: right !important;
}

.name {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--highlight);
  margin: 0;
}

.title {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: bold;
  color: var(--secondary-text);
  margin-top: 0.2rem;
}

.section-title {
  font-size: 1.1rem;
  color: var(--accent);
  border-bottom: 1px solid var(--accent);
  margin-bottom: 0.5rem;
}

.contact-line a {
  color: var(--primary);
  text-decoration: none;
}

.job-header {
  font-size: 1.1rem;
  color: var(--highlight);
  margin-top: 0.5rem;
}

.job-title,
.job-dates {
  text-transform: lowercase;
}

.job-dates {
  color: var(--secondary-text);
}

p {
  font-size: 1rem;
  margin: 0.25rem 0;
}

.code-indent {
  margin: 0 2rem;
}

.skills-map {
  margin-top: 15px;
}

/* PDF-specific */
.pdf-wrapper {
  font-size: 16px;
  background-color: white;
  padding: 50px;
  box-sizing: border-box;
  overflow: visible;
}

.pdf-export-scale {
  height: 1122px !important;
  width: 794px !important;
  box-sizing: border-box !important;
  margin-top: -40px !important;
  padding-bottom: 30px !important;
  font-size: 16px !important;
}

@media (max-width: 768px) {
  .resume-container {
    padding: 0.5rem 0.5rem;
    margin: 0 auto;
    width: 100vw;
    box-sizing: border-box;
  }

  .code-indent {
    margin: 0 1rem;
  }

  .pdf-wrapper {
    padding: 1rem !important;
  }

  .name {
    font-size: 1.6rem;
    margin-bottom: 0.2rem;
  }

  .title {
    font-size: 0.75rem;
    text-align: center;
    margin-top: 0;
  }

  .section {
    margin-top: 15px;
  }

  .section-title {
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
  }

  .job-header {
    font-size: 0.9rem;
    margin-top: 0.25rem;
  }

  p {
    font-size: 0.8rem;
    margin: 0.1rem 0;
    line-height: 1.25;
  }

  .skills-map {
    margin-top: 5px;
  }

  .pdf-export-qr {
    width: 50px;
    height: 50px;
    margin-top: 0.25rem;
  }

  .contact-line {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    font-size: 0.85rem;
    margin: 0.25rem 0;
  }

  .contact-line::-webkit-scrollbar {
    display: none;
  }

  .contact-line a {
    color: var(--primary);
    text-decoration: none;
  }

}